<div class="container col-7">
    Please read the following:<br>
  In order to determine your eligibility and/or rate, we'll use information from a customer reporting agency that may include:
  <br>
  <br>
  <ul id="ul-custom">
  <li>Credit information on a member in your household</li>
  <li>Loss history information on all named applications</li>
  </ul>
  Would you like more information?<br>
  <p class="text-justify font-weight-bold">  Contact our nearest branch or agency</p>
  <br>
<div class="form-check">
  <input type="checkbox" class="form-check-input">
  <label class="form-check-label">I have read the required notification to the customer and understand customer reports cannot be run before I provide this notification.</label>
</div> 
  <br>
</div>