<div class="container col-7">
<div class="progress mt-2" id="progress-rec-custom">
  <div class="progress-bar" id="progress-custom" role="progressbar" style="width: 15%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">10%</div>
</div>
<h1>
  <p class="text-center font-weight-normal mt-4" id="text-custom">Get Customer Consent</p>
</h1>
<hr class="dotted-line"/>
<div>
  Please read the following:<br>
  In order to determine your eligibility and/or rate, we'll use information from a customer reporting agency that may include:
  <br>
  <br>
  <ul id="ul-custom">
  <li>Credit information on a member in your household</li>
  <li>Loss history information on all named applications</li>
  </ul>
  Would you like more information?<br>
  <p class="text-justify font-weight-bold">  Contact our nearest branch or agency</p>
  <br>
<div class="form-check">
  <input type="checkbox" class="form-check-input">
  <label class="form-check-label">I have read the required notification to the customer and understand customer reports cannot be run before I provide this notification.</label>
</div> 
  <br>
<div class="container">
  <div class="row">
    <div class="col pl-0">
      <button class="btn btn rounded-pill btn-block" id="btn-custom">Back</button></div>
    <div class="col pr-0">
      <button class="btn btn rounded-pill btn-block" id="btn-custom">Continue</button></div>
  </div>
</div>
</div>
</div>