#btn-custom{
    color: #fff;
    background-color: #ff0000;
    border-color: #939393;
}  

.form-check{
    padding-left: 0rem;
}

#checkbox-custom{
    margin-left: 0px;
    padding-top: 12px;
    margin-top: 7px;
}